@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_Head.Login.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}

<div class="login-form">
    @if (!String.IsNullOrEmpty(Model.Result))
    {
        <div class="alert alert-info square-box">
            @Model.Result
        </div>
    }
    <div class="login-header-tip">
        <span class="fl">@T("Account.PasswordRecovery")</span>

    </div>
    @using (Html.BeginForm())
    {
        <p class="inputs">
            @Html.TextBoxFor(model => model.Email, new { @class = "ipt", autocomplete = "off" })
            @Html.LabelFor(model => model.Email, new { @class = "" })
            @Html.RequiredHint()
        </p>
        <p class="labels">
            <span class="dred">
                @Html.ValidationMessageFor(model => model.Email)</span>
        </p>
        <div class="buttons">
            <input type="submit" name="send-email" class="button-1 btn btn-primary" value="@T("Account.PasswordRecovery.RecoverButton")" />
        </div>
    }
</div>


<script type="text/javascript">
    $(function () {
        $('.inputs > input.ipt').on('focus', function () {
            $(this).next('label').addClass('hide');
        })
        $('.inputs > input.ipt').on('blur', function () {
            if ($(this).val() == '') {
                $(this).next('label').removeClass('hide');
            }
        })
    });
</script>

